CalcClient/xml-resources/web-service-references/calculator/wsdl/localhost_666/calculator.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://calcws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calcws/">

<xs:element name="add" type="tns:add"></xs:element>

<xs:element name="addResponse" type="tns:addResponse"></xs:element>

<xs:element name="multiply" type="tns:multiply"></xs:element>

<xs:element name="multiplyResponse" type="tns:multiplyResponse"></xs:element>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="x" type="xs:int"></xs:element>
<xs:element name="y" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="result" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiply">
<xs:sequence>
<xs:element name="x" type="xs:int"></xs:element>
<xs:element name="y" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplyResponse">
<xs:sequence>
<xs:element name="result" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>