FinalTaskStudentsClient/src/META-INF/wsdl/localhost_666/students.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="addBook" type="tns:addBook"></xs:element>

<xs:element name="addBookResponse" type="tns:addBookResponse"></xs:element>

<xs:element name="findStudentByFirstName" type="tns:findStudentByFirstName"></xs:element>

<xs:element name="findStudentByFirstNameResponse" type="tns:findStudentByFirstNameResponse"></xs:element>

<xs:element name="findStudentByLastName" type="tns:findStudentByLastName"></xs:element>

<xs:element name="findStudentByLastNameResponse" type="tns:findStudentByLastNameResponse"></xs:element>

<xs:element name="getGroups" type="tns:getGroups"></xs:element>

<xs:element name="getGroupsResponse" type="tns:getGroupsResponse"></xs:element>

<xs:element name="getStudents" type="tns:getStudents"></xs:element>

<xs:element name="getStudentsResponse" type="tns:getStudentsResponse"></xs:element>

<xs:complexType name="getStudents">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentsResponse">
<xs:sequence>
<xs:element name="student" type="tns:student" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="firstName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="gpa" type="xs:double"></xs:element>
<xs:element name="groupId" type="xs:int"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="lastName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="phone" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findStudentByLastName">
<xs:sequence>
<xs:element name="lastName" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findStudentByLastNameResponse">
<xs:sequence>
<xs:element name="student" type="tns:student" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGroups">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getGroupsResponse">
<xs:sequence>
<xs:element name="groups" type="tns:group" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="group">
<xs:sequence>
<xs:element name="faculty" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="label" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findStudentByFirstName">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findStudentByFirstNameResponse">
<xs:sequence>
<xs:element name="student" type="tns:student" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBook">
<xs:sequence>
<xs:element name="book" type="tns:student" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBookResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>